@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #060B15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060B15;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-style: normal;
}
